{% extends 'base.html.twig' %}

{% block title %}Misko Taskas{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        body{
            margin-top:20px;
        }
        /*
        Blog post entries
        */

        .entry-card {
            -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
        }

        .entry-content {
            background-color: #fff;
            padding: 36px 36px 36px 36px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        .entry-content .entry-title a {
            color: #333;
        }

        .entry-content .entry-title a:hover {
            color: #4782d3;
        }

        .entry-content .entry-meta span {
            font-size: 12px;
        }

        .entry-title {
            font-size: .95rem;
            font-weight: 500;
            margin-bottom: 15px;
        }

        .entry-thumb {
            display: block;
            position: relative;
            overflow: hidden;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        .entry-thumb img {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }

        .entry-thumb .thumb-hover {
            position: absolute;
            width: 100px;
            height: 100px;
            background: rgba(71, 130, 211, 0.85);
            display: block;
            top: 50%;
            left: 50%;
            color: #fff;
            font-size: 40px;
            line-height: 100px;
            border-radius: 50%;
            margin-top: -50px;
            margin-left: -50px;
            text-align: center;
            transform: scale(0);
            -webkit-transform: scale(0);
            opacity: 0;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
        }

        .entry-thumb:hover .thumb-hover {
            opacity: 1;
            transform: scale(1);
            -webkit-transform: scale(1);
        }

        .article-post {
            border-bottom: 1px solid #eee;
            padding-bottom: 70px;
        }

        .article-post .post-thumb {
            display: block;
            position: relative;
            overflow: hidden;
        }

        .article-post .post-thumb .post-overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            transition: all .3s;
            -webkit-transition: all .3s;
            opacity: 0;
        }

        .article-post .post-thumb .post-overlay span {
            width: 100%;
            display: block;
            vertical-align: middle;
            text-align: center;
            transform: translateY(70%);
            -webkit-transform: translateY(70%);
            transition: all .3s;
            -webkit-transition: all .3s;
            height: 100%;
            color: #fff;
        }

        .article-post .post-thumb:hover .post-overlay {
            opacity: 1;
        }

        .article-post .post-thumb:hover .post-overlay span {
            transform: translateY(50%);
            -webkit-transform: translateY(50%);
        }

        .post-content .post-title {
            font-weight: 500;
        }

        .post-meta {
            padding-top: 15px;
            margin-bottom: 20px;
        }

        .post-meta li:not(:last-child) {
            margin-right: 10px;
        }

        .post-meta li a {
            color: #999;
            font-size: 13px;
        }

        .post-meta li a:hover {
            color: #4782d3;
        }

        .post-meta li i {
            margin-right: 5px;
        }

        .post-meta li:after {
            margin-top: -5px;
            content: "/";
            margin-left: 10px;
        }

        .post-meta li:last-child:after {
            display: none;
        }

        .post-masonry .masonry-title {
            font-weight: 500;
        }

        .share-buttons li {
            vertical-align: middle;
        }

        .share-buttons li a {
            margin-right: 0px;
        }

        .post-content .fa {
            color: #ddd;
        }

        .post-content a h2 {
            font-size: 1.5rem;
            color: #333;
            margin-bottom: 0px;
        }

        .article-post .owl-carousel {
            margin-bottom: 20px !important;
        }

        .post-masonry h4 {
            text-transform: capitalize;
            font-size: 1rem;
            font-weight: 700;
        }
        .mb40 {
            margin-bottom: 40px !important;
        }
        .mb30 {
            margin-bottom: 30px !important;
        }
        .media-body h5 a {
            color: #555;
        }
        .categories li a:before {
            content: "\f0da";
            font-family: 'FontAwesome';
            margin-right: 5px;
        }
        /*
        Template sidebar
        */

        .sidebar-title {
            margin-bottom: 1rem;
            font-size: 1.1rem;
        }

        .categories li {
            vertical-align: middle;
        }

        .categories li > ul {
            padding-left: 15px;
        }

        .categories li > ul > li > a {
            font-weight: 300;
        }

        .categories li a {
            color: #999;
            position: relative;
            display: block;
            padding: 5px 10px;
            border-bottom: 1px solid #eee;
        }

        .categories li a:before {
            content: "\f0da";
            font-family: 'FontAwesome';
            margin-right: 5px;
        }

        .categories li a:hover {
            color: #444;
            background-color: #f5f5f5;
        }

        .categories > li.active > a {
            font-weight: 600;
            color: #444;
        }

        .media-body h5 {
            font-size: 15px;
            letter-spacing: 0px;
            line-height: 20px;
            font-weight: 400;
        }

        .media-body h5 a {
            color: #555;
        }

        .media-body h5 a:hover {
            color: #4782d3;
        }
    </style>
    <div class="example-wrapper">
        <h1><center>Miškininkystės įmonės darbų planavimo informacinė sistema</center></h1>
    </div>
    <div class="example-wrapper">
        <h2><center>Naujienos miškininkystės srityje</center></h2>
    </div>

    <div class="container pb50">
        <div class="row">
            <div class="col-md-9 mb40">
                <article>
                    <div class="post-content">
                        <h3><center>Nacionalinis miškasodis sutelkė gamtos mylėtojus: Lietuvos miškuose pasodinta 2 mln. naujų medžių</center></h3>
                        <ul class="post-meta list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-user-circle-o"></i> <a href="#">Administratorius</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-calendar-o"></i> <a href="#">05-05-2022</a>
                            </li>

                            <li class="list-inline-item">
                                <i class="fa fa-calendar-o"></i> <a href="https://vmu.lt/nacionalinis-miskasodis-sutelke-gamtos.../">Plačiau</a>
                            </li>
                        </ul>
                        <p>Balandžio 23 d. vyko didžiausia iš visų iki šiol buvusių miško sodinimo talka – Nacionalinis miškasodis. Visuose 26-iuose Valstybinių miškų urėdijos regioniniuose padaliniuose buvo įveistas rekordinis plotas naujų miškų – net 748 ha. Naujai įveisiamuose miškų plotuose buvo pasodinta virš 2 mln. įvairių rūšių medelių – beržų, juodalksnių, eglių, pušų bei ąžuolų.
                            Skaitykite daugiau:
                            https://vmu.lt/nacionalinis-miskasodis-sutelke-gamtos.../ </p>
                        <hr class="mb40">
                    </div>
                </article>
                <article>
                    <div class="post-content">
                        <h3>Valstybinių miškų urėdija diegia naujus medienos matavimo metodus – tai leis medieną matuoti skaidriau ir patikimiau</h3>
                        <ul class="post-meta list-inline">
                            <li class="list-inline-item">
                                <i class="fa fa-user-circle-o"></i> <a href="#">Administratorius</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-calendar-o"></i> <a href="#">23-04-2022</a>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-calendar-o"></i> <a href="https://vmu.lt/valstybiniu-misku-uredija-diegia-naujus.../">Plačiau</a>
                            </li>
                        </ul>
                        <p>Valstybinių miškų urėdija modernizuoja medienos matavimo, apskaitos procesus ir veikloje diegia  fotogrametrinį žaliavinės medienos matavimo metodą, leisiantį medieną pamatuoti greičiau, patikimiau ir kartu sumažinti veiklos darbo sąnaudas. Šis metodas taip pat leis užtikrinti skaidrumą medienos matavimo procese – vieną svarbiausių dalykų tiek Valstybinių miškų urėdijai, tiek medienos pirkėjams.
                            Skaitykite daugiau: https://vmu.lt/valstybiniu-misku-uredija-diegia-naujus.../ </p>
                        <hr class="mb40">
                    </div>
                </article>
                <!-- post article-->
        </div>
    </div>

    {% include 'footer.html.twig' %}
{% endblock %}